body {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#search {
    position: relative;
    height: 50px;
}
#btns {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}
input {
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}
.active input {
    width: 200px;
}
/* .active #btns {
    right: 0;
} */